*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: blue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: white;
}
input[type="text"] {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}
input[type="email"] {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 200px;
    background-color: white;
   gap: 9px;
   width: 600px;
   margin-top: 30px;
}
 .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
    padding-bottom: 2px; ;
    text-decoration: underline;
    
 }
 
 .forgot-password{
    padding: 20px;
    margin-left: 0 5px;
    color: silver;
    font-size: 18px;
 }
 .forgot-password span{
    color: blue;
    cursor: pointer;
 }
 .Submit_container{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin: 10px auto;
 }
 .submit {
   display: flex;
   justify-content: center;
   align-items: center; 
   width: 200px; 
   height: 40px; 
   color: #fff;
   background: blue;
   font-size: 16px; 
   font-weight: 700;
   cursor: pointer;
}